/* Reset 基本樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  :root {
    --mouseX: 0;
    --mouseY: 0;
    --BGcolor: rgba(250,250,250, 1);
    --Maincolor: rgba(0, 0, 0 , 1);
    --SUPcolor: rgba(250, 250, 250, 0);
  }

  .mouse {
    position: fixed;
    left: var(--mouseX);
    top: var(--mouseY);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--Maincolor);
    transition: all 10ms ease-out, background-color 10ms linear;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: 2px double var(--BGcolor);
    z-index: 1000;
}

.ghost {
  position: fixed;
    left: var(--mouseX);
    top: var(--mouseY);
    transition: all 500ms ease-out, background-color 10ms linear; 
    transform: translate(-50%, -50%);
    pointer-events: none;
    overflow: visible;
    width: 100px;
    height: auto;
}
.ghost svg {
  fill: var(--Maincolor);
  stroke: var(--BGcolor);
  stroke-width: 0px;
  stroke-linecap: round;
  width: 80px;
  height: auto;
}

  /* NAVBAR 共用樣式 */
.navbar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: var(--BGcolor);
    position: fixed;
    top: 15px;
    right: 20px;
    left: 20px;
    height: 2em;
    z-index: 500;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--Maincolor);
    font-size: 2em;
    transition: all 400ms ease;
  }

  .navbarbackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--BGcolor);
    display: none;
    pointer-events: none;
    z-index: -10;
  }
  
  .navbar a {
    float: left;
    width: 50vw;
    display: block;
    color: var(--Maincolor);
    text-align: left;
    padding: 5px 0px;
    text-decoration: none;
    font-weight: 700;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .navbar .icon {
    position: absolute;
    display: none;
  }

  .radio-container {
    position: absolute;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-size: 0.2em;
    font-weight: 600;
    margin: 0 10px;
}

input[type="radio"] {
  display: none;
}

label {
  padding: 3px 10px;
  margin: 0 0px;
  border-top: 1px solid var(--Maincolor);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 100ms, color 200ms;
}

input[type="radio"]:checked + label {
  background-color: var(--Maincolor);
  color: var(--BGcolor);
}
  
  /* 電腦樣式 */
  @media (min-width: 769px) {
    .navbar a {
      float: left;
    }
  }
  
  /* 手機樣式 */
  @media (max-width: 768px) {
    .navbar {
        transition: all 100ms ease-in-out;
        height: 50px;
        margin: 10px 15px;
        right: 5px;
    left: 5px;
        
    }

    .responsive .navbarbackground {
      display: block;
      opacity: 0.5;
      display: block;
      z-index: -500;
    }

    .navbar a {
      float: none;
      display: none;
    }
    .navbar a.icon {
        background-color: transparent;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        right: 0;
        font-size: 1em;
        display: block;
        padding: 10px;
      text-align: center;
      align-items: center;
      justify-self: center;
    }
    .navbar.responsive {
        position: fixed;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      flex-wrap: wrap;
      top: 0px;
      right: 0;
      left: 0;
      margin: 0px;
        height: 100%;
        border: none;
        border-radius: 0px;
        background-color: transparent;
        background-color: calc();
    }

    .navbar.responsive .icon {
      position: absolute;
      align-items: center;
      justify-content: center;
      display: block;
      padding: 10px;
      width: 100px;
      height: 100px;
      right: 0;
      top: 0;
    }

    .navbar a.icon:hover {text-decoration: none;}
    .navbar.responsive .icon:hover {text-decoration: none;}
    .navbar.responsive a {
      float: none;
      display: block;
      width: 50%;
      text-align: center;
      align-items: center;
      justify-self: center;
      line-height: 1.8;
      font-size: 2em;
      opacity: 1;
    }

    .radio-container {
      position: absolute;
      width: auto;
      height: 50px;
      top: 5px;
      left: 5px;
      display: flex;
      justify-content: left;
      text-align: left;
      align-items: start;
      margin-top: 0px;
      font-size: 0.2em;
      font-weight: 600;
      margin: auto 0px;
  }
  .navbar.responsive .radio-container {
    display: none;
  }
  .ghost {
    display: none;
  }
  }
  
  body {
    font-family: 'Inter', 'Noto Sans TC', sans-serif;
    background-color: var(--BGcolor);
    color: var(--Maincolor);
    line-height: 1;
    margin: 0;
    transition: all 400ms ease;
    cursor: none;
  }

  .footer {
    display: flex;
    flex-direction: row;
    padding: 2em 0px;
  }

    /* 模糊效果樣式 */
  .blur {
      filter: blur(6px);
  }

  /* 滾動條的整體樣式 */
::-webkit-scrollbar {
  width: 0.8vw;  /* 設置滾動條的寬度 */
  display: none;
}

/* 滾動條軌道 */
::-webkit-scrollbar-track {
  background: var(--BGcolor);  /* 設置軌道的背景色 */
  border-radius: 5px;  /* 設置軌道的圓角 */
  transition: all 0.5s ease;
}

/* 滾動條滑塊 */
::-webkit-scrollbar-thumb {
  background: var(--Maincolor);  /* 設置滑塊的背景色 */
  border-radius: 5px;  /* 設置滑塊的圓角 */
  border: 2px solid #ffffff;  /* 設置滑塊的邊框，與軌道背景色相同 */
  transition: all 0.5s ease;
}

/* 滾動條滑塊在懸停時的樣式 */
::-webkit-scrollbar-thumb:hover {
  background: #777777;  /* 設置滑塊在懸停時的背景色 */
}

/* 滾動條滑塊在活動時的樣式 */
::-webkit-scrollbar-thumb:active {
  background: #777777;  /* 設置滑塊在活動時的背景色 */
}

